<h1>Burger Time!</h1>


<div id="burgers-to-eat">
	<h3>Order up!</h3>
	<ul>
		{{#each burgers}}
			{{#unless devoured}}
				<li> 
				{{this.burger_name}} 
				{{>update-burger}}
				</li> 
			{{/unless}}
		{{/each}}
	</ul>
</div>

<div id="burgers-devoured">
	<h3>Burgers that been ate</h3>
	<ul>
		{{#each burgers}}
			{{#if devoured}}
				<li> 
					{{this.burger_name}}
				</li>
			{{/if}}
		{{/each}}
	</ul>
</div>

<form action="/create" method="post">
	<textarea type="textarea" placeholder="enter burger orer here..." name="burgerName"></textarea>
	<br>
	<button type="submit">Order Here!</button>
</form>